<!DOCTYPE html>
<html>
<head>
  <title>search-results Etsy</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="headers">
    <header class="headers-inner">
      <div class="etsy-logo">
        <a>Etsy</a>
      </div>
    </header>
  </div>
</body>
</html>

